<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zyj.ieasytools">

    <application
        android:name=".IEasyToolsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".act.WelcomeActivity"
            android:label="@string/app_name"
            android:theme="@style/app_welcome_theme_style">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".act.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".act.AddEntryActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".act.HelpActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <service android:name=".act.MyServer" />

    </application>

</manifest>
